html {  
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

#app {
  background-color: #f9f5d7;
}

#app.dark-theme {
  background-color: #282828;
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  #app {
    background-color: #282828;
  }

  #app.light-theme {
    background-color: #f9f5d7;
  }
}
